<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="URL Shortener Microservice" content="URL Shortener Microservice made by Feddle">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
      <h1>URL Shortener Microservice</h1>
      <p>Returns the given url shortened in a JSON response.</p>
      <a href="https://github.com/Feddle/URL-Shortener-Microservice">https://github.com/Feddle/URL-Shortener-Microservice</a>
      <h2>Example usage</h2>
      <code>https://short-url-feddle.glitch.me/new/https://www.google.com</code>
      <p></p>      
      <h2>Example output</h2>
      <code>{"original_url":"https://www.google.com","short_url":"https://short-url-feddle.glitch.me/3ea7c7"}</code>
    </div>
  

    <!--
    <script src="/client.js"></script>
    -->
  </body>
</html>
